{{#>page}}
  <h2>Teams List</h2>
  <ul>
  <li><a href="/teams/australia"><img scr="/images/flags/australia.png">Australia</a></li>
  <li><a href="/teams/france"><img scr="/images/flags/france.png">France</a></li>
  <li><a href="/teams/germany"><img scr="/images/flags/germany.png">Germany</a></li>
  <li><a href="/teams/great-britain"><img scr="/images/flags/great-britain.png">Great-Britain</a></li>
  <li><a href="/teams/italy"><img scr="/images/flags/Italy.png">Italy</a></li>
  <li><a href="/teams/japan"><img scr="/images/flags/japan.png">Japan</a></li>
  <li><a href="/teams/netherlands"><img scr="/images/flags/netherlands.png">Netherlands</a></li>
  <li><a href="/teams/people's republic of china"><img scr="/images/flags/china.png">China</a></li>People's Republic of china</a></li>
  <li><a href="/teams/roc"><img scr="/images/flags/roc.png">ROC</a></li>
  <li><a href="/teams/united states of america"><img scr="/images/flags/usa.png">USA</a></li>United States of America</a></li>  
  </ul>

{{/page}}

